// _btn-style-non-gradient.sass

// measurements
$px: 28px

// colors
$color1: #18ab29
$color2: #2f6627
$color3: #5cbf2A

.btn
  background-color: #44c767
  -moz-border-radius: $px
  -webkit-border-radius: $px
  border-radius: $px
  border: 1px solid $color1
  display: inline-block
  cursor: pointer
  color: #fff
  font-family: Verdana
  font-size: 17px
  padding: 16px 31px
  text-decoration: none
  text-shadow: 0px 1px 0px $color2
  &:hover
    background-color: $color3
  &:active
    position: relative
    top: 1px
