// base-rps.scss

//colors
$color-emerald-approx: #44c767;
$color-lima-approx: #5cbf2a;
$color-forest-green-approx: #18ab29;
$white: #fff;
$color-dell-approx: #2f6627;

//fonts
$font-0: Verdana;

//urls
$url-0: url('../../resources/font/Verdana.woff');

/*
 * original font family: Ariel
 */

@font-face {
  font-family: $font-0;
  src: $url-0;
}

body {
  font-family: $font-0;
  margin: 1%;
}

#center-container {
  text-align: center;
}

@import 'btn-style';
