$color_1: #FFFFFF;
$font_family_1: Verdana;
$background_color_1: rgb(238, 238, 238);
$background_color_2: #44C767;
$background_color_3: #5CBF2A;

// original font family: Ariel

@font-face {
	font-family: Verdana;
	src: url(../../resources/fonts/Verdana.woff);
}

body {
	margin: 1%;
	background-color: $background_color_1;
	font-family: $font_family_1;
}
#center {
	text-align: center;
}
.btn {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44C767), color-stop(1, #5CBf2A)); //
	background: -moz-linear-gradient(top, #44C767 5%, #5CBF2A 100%);
	background: -webkit-linear-gradient(top, #44C767 5%, #5CBF2A 100%);
	background: -o-linear-gradient(top, #44C767 5%, #5CBF2A 100%);
	background: -ms-linear-gradient(top, #44C767 5%, #5CBF2A 100%);
	background: linear-gradient(to bottom, #44C767 5%, #5CBF2A 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44C767', endColorstr='#5CBF2A',GradientType=0);
	background-color: $background_color_2;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	border: 1px solid #18AB29;
	display: inline-block;
	cursor: pointer;
	color: $color_1;
	font-family: $font_family_1;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2F6627;
	&:hover {
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5CBF2A), color-stop(1, #44C767));
		background: -moz-linear-gradient(top, #5CBF2A 5%, #44C767 100%);
		background: -webkit-linear-gradient(top, #5CBF2A 5%, #44C767 100%);
		background: -o-linear-gradient(top, #5CBF2A 5%, #44C767 100%);
		background: -ms-linear-gradient(top, #5CBF2A 5%, #44C767 100%);
		background: linear-gradient(to bottom, #5CBF2A 5%, #44C767 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CBF2A', endColorstr='#44C767',GradientType=0);
		background-color: $background_color_3;
	}
	&:active {
		position: relative;
		top: 1px;
	}
}
