*.sublime-workspace
*.sublime-project
*.DS_Store
*.ste
spare.js
rps.min.js
_MACOSX

# If gitignore is not working,
# try this:
# ======================================================
# git rm -rf --cached .
# git add .
# git commit -m "remove cached files, gitignore"
# git push
