// _btn-style-non-gradient.sass

//measurements
$px-1: 28px

//colors
$color-1: #44c767
$color-2: #18ab29
$color-3: #2f6627
$color-4: #5cbf2A
$color-5: #fff

//fonts
$font-0: Verdana

//urls
$url-0: url('../../resources/font/Verdana.woff')


@font-face
  font-family: $font-0
  src: $url-0


.btn
  background-color: $color-1
  -moz-border-radius: $px-1
  -webkit-border-radius: $px-1
  border-radius: $px-1
  border: 1px solid $color-2
  display: inline-block
  cursor: pointer
  color: $color-5
  font-family: Verdana
  font-size: 17px
  padding: 16px 31px
  text-decoration: none
  text-shadow: 0px 1px 0px $color-3
  &:hover
    background-color: $color-4
  &:active
    position: relative
    top: 1px
